.vex-alert {
  display: grid;
  position: relative;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: var(--vex-spacing-2);
  padding: var(--vex-spacing-3);
  border-radius: var(--vex-border-radius-sm);
  border-inline-start: 3px solid currentColor;
}

//------ icon ------//

.vex-alert-icon {
  place-self: start center;
}

//------ header ------//

.vex-alert-header {
  font-weight: 500;
  font-size: var(--vex-font-size-md);
}

//------ content ------//

.vex-alert-content {
  font-size: var(--vex-font-size-sm);
  margin: 0;
  padding: 0;
  grid-column-start: 2;
}

//------ close button ------//

.vex-alert-close {
  all: unset;
  cursor: pointer;
  position: absolute;
  inset-block-start: var(--vex-spacing-2);
  inset-inline-end: var(--vex-spacing-2);
}

//------ colors ------//

.vex-alert.--c-danger {
  background-color: var(--vex-c-danger-100);
  color: var(--vex-c-danger-800);
}

.vex-alert.--c-warning {
  background-color: var(--vex-c-warning-100);
  color: var(--vex-c-warning-800);
}

.vex-alert.--c-success {
  background-color: var(--vex-c-success-100);
  color: var(--vex-c-success-800);
}

.vex-alert.--c-accent {
  background-color: var(--vex-c-accent-100);
  color: var(--vex-c-accent-800);
}

.vex-alert.--c-primary {
  background-color: var(--vex-c-primary-100);
  color: var(--vex-c-primary-500);
}
