.vex-autocomplete-chevron {
  width: 16px;
  height: 16px;
}

.vex-autocomplete-placeholder {
  padding-block: var(--vex-spacing-4);
  display: grid;
  place-items: center;
}

.vex-autocomplete-content {
  // display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--vex-spacing-2px);

  padding: var(--vex-spacing-2px);
  min-width: var(--vex-auto-min-width);
  max-height: 14rem;
  margin: 0;
  border-radius: var(--vex-border-radius-sm);
  outline: none;
  z-index: 100;
  overflow-y: auto;

  font-size: var(--vex-font-size-sm);
  background-color: white;
  filter: var(--vex-drop-shadow-sm);
  list-style-type: none;
}
