.vex-select-group {
  display: flex;
  flex-direction: column;
  gap: inherit;
  padding-block-start: var(--vex-spacing-4);
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: calc(var(--vex-spacing-4) / 2.5);
  }

  &::before {
    content: '';
    display: block;
    margin-inline: var(--vex-spacing-2);
    height: 1px;
    background-color: var(--vex-border-clr-base);
    left: 0;
    right: 0;
  }

  &::after {
    content: attr(aria-label);
    left: 50%;
    transform: translate(-50%, -50%);
    padding-inline: var(--vex-spacing-2);
    font-size: var(--vex-font-size-xs);
    line-height: 1;
    background-color: #fff;
    color: var(--vex-text-clr-muted);
  }
}
